# From list of lists, array of arrays, list of series

### 2차원 리스트나 2차원 numpy array로 DataFrame을 만들 수 있다. 심지어 pandas Series를 담고 있는 리스트로도 DataFrame을 만들 수 있다.

In [9]:
import numpy as np
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]),
    pd.Series(['sineui', 89, 31]),
    pd.Series(['ikjoong', 68, 91]),
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일하다.
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_list)
df3 = pd.DataFrame(list_of_series)

print(df3)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

## From dict of lists, dict of arrays, dict of series

**파이썬 사전 = dict(dictionary)으로 DataFrame 가능**

사전의 key로는 column 이름을 쓰고, 그 column에 해당하는 리스트, numpy array, 혹은 pandas Series를 사전의 value로 넣어주면 된다.

In [16]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name' : names,
    'english_scores' : english_scores,
    'math_scores' : math_scores
}

dict2 = {
    'name' : np.array(names),
    'english_scores' : np.array(english_scores),
    'math_scores' : np.array(math_scores)
}

dict3 = {
    'name' : pd.Series(names),
    'englisht_scores' : pd.Series(english_scores),
    'math_scores' : pd.Series(math_scores)
}

df_1 = pd.DataFrame(dict1)
df_2 = pd.DataFrame(dict2)
df_3 = pd.DataFrame(dict3)

print(df_3)

       name  englisht_scores  math_scores
0  dongwook               50           86
1    sineui               89           31
2   ikjoong               68           91
3   yoonsoo               88           75

# From list of dicts

**리스트가 담긴 사전이 아니라, 사전이 담긴 리스트로도 DataFrame을 만들 수 있다.**

In [17]:
my_list = [
    {'name' : 'dongwook', 'english_scores' : 50, 'math_scores' : 86}
]

df = pd.DataFrame(my_list)
print(df)

       name  english_scores  math_scores
0  dongwook              50           86