In [1]:
import pandas as pd

In [9]:
laptops_df = pd.read_csv('data/laptops.csv')

In [10]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [11]:
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [12]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [13]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object